appnope
asttokens
attrs
certifi
cffi
charset-normalizer
comm
cryptography
debugpy
decorator
executing
h11
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kalshi-python
matplotlib-inline
nest-asyncio
numpy
outcome
packaging
pandas
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
Pygments
PySocks
python-dateutil
pytz
pyzmq
requests
selenium
six
sniffio
sortedcontainers
stack-data
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
websockets
wsproto
